/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

:root {
  box-sizing: border-box;

  --clr-neutral-800: #2e323f;
  --clr-neutral-700: #3b4050;
  --clr-neutral-600: #6f737f;
  --clr-neutral-500: #b2b5bd;
  --clr-neutral-400: #dfdfe1;
  --clr-neutral-200: #f1f1f1;
  --clr-neutral-100: #ffffff;
  --clr-accent-400: #a59678;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

/* === FONT COLORS === */
.clr-neutral-700 {
  color: var(--clr-neutral-700) !important;
}
.clr-neutral-600 {
  color: var(--clr-neutral-600) !important;
}

.clr-neutral-500 {
  color: var(--clr-neutral-500) !important;
}

.clr-neutral-400 {
  color: var(--clr-neutral-400) !important;
}

.clr-neutral-100 {
  color: var(--clr-neutral-100) !important;
}

.clr-accent-400 {
  color: var(--clr-accent-400) !important;
}

/* === FONT SIZES === */

.fs-regular-plus {
  font-size: 1.125rem;
}

.fs-medium {
  font-size: 1.3125rem;
}

.fs-medium-plus {
  font-size: 1.5rem;
}

.fs-big {
  font-size: 1.875rem;
}

.fs-big-plus {
  font-size: 2.25rem;
}

/* === BACKGROUND COLORS === */
.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}
.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

/* === Reusable === */

.container {
  width: 95%;
  max-width: 75rem;
  margin: 0 auto;
}

.txt-center {
  text-align: center;
}

/* .col is a column in larger screens,
when items are side-by-side, and a row in
smaller screens, when items are stacked. */

.col + .col {
  margin-top: 2rem;
}

/* Navigation Bar */

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list--primary {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

.nav-list--secondary {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  /* font-size: 5.625rem; */
  font-size: 4.5rem;
  line-height: 1.1;
  color: var(--clr-neutral-100);
}

.hero__content {
  font-size: 1.5rem;
}

.hero__title {
  text-align: center;
}

.hero__text {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-neutral-100);
  text-align: center;
}

.hero__btn {
  text-align: center;
}

.btn {
  display: inline-block;

  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--clr-neutral-100);

  text-decoration: none;
  text-transform: uppercase;

  background-color: var(--clr-accent-400);
  padding: 0.25em 1.5em;

  border-radius: 1.5em;
}

section,
footer {
  padding: 5rem 0;
}

.section-three__boxes {
  margin-top: 5rem;
}

.box {
  padding: 3rem;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--clr-accent-400);
}

.section-text {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-neutral-700);
}

/* TBD in media queries for larger screens:
- uncenter hero section content
- remove margin-top from section-three__boxes when they are to the side
- remove margin-top from .col + .col. Since
they will be flex-items in larger screens,
use gap instead.
*/
