/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

:root {
  box-sizing: border-box;

  --clr-neutral-800: #2e323f;
  --clr-neutral-700: #3b4050;
  --clr-neutral-500: #6f737f;
  --clr-neutral-200: #f1f1f1;
  --clr-neutral-100: #ffffff;
  --clr-accent-400: #a59678;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

/* === FONT COLORS === */
.clr-neutral-700 {
  color: var(--clr-neutral-700);
}
.clr-neutral-500 {
  color: var(--clr-neutral-500);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}

.clr-accent-400 {
  color: var(--clr-accent-400);
}

/* === FONT SIZES === */

.fs-regular {
  font-size: 1rem;
}

.fs-regular-plus {
  font-size: 1.125rem;
}

.fs-medium {
  font-size: 1.3125rem;
}

.fs-medium-plus {
  font-size: 1.5rem;
}

.fs-big {
  font-size: 1.875rem;
}

.fs-big-plus {
  font-size: 2.25rem;
}

/* === BACKGROUND COLORS === */
.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}
.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 5.625rem;
  color: var(--clr-neutral-100);
}

.hero__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--clr-neutral-100);
}

.btn {
  display: inline-block;

  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--clr-neutral-100);

  text-decoration: none;
  text-transform: uppercase;

  background-color: var(--clr-accent-400);
  padding: 0.25em 1.5em;

  border-radius: 1.5rem;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--clr-accent-400);
}

.section-text {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-neutral-700);
}
