/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

:root {
  box-sizing: border-box;

  --clr-neutral-800: #2e323f;
  --clr-neutral-700: #3b4050;
  --clr-neutral-600: #6f737f;
  --clr-neutral-500: #b2b5bd;
  --clr-neutral-400: #dfdfe1;
  --clr-neutral-200: #f1f1f1;
  --clr-neutral-100: #ffffff;
  --clr-accent-400: #a59678;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

section,
footer {
  padding: 3rem 0;
}

/* === FONT COLORS === */
.clr-neutral-700 {
  color: var(--clr-neutral-700) !important;
}
.clr-neutral-600 {
  color: var(--clr-neutral-600) !important;
}

.clr-neutral-500 {
  color: var(--clr-neutral-500) !important;
}

.clr-neutral-400 {
  color: var(--clr-neutral-400) !important;
}

.clr-neutral-100 {
  color: var(--clr-neutral-100) !important;
}

.clr-accent-400 {
  color: var(--clr-accent-400) !important;
}

/* === FONT SIZES === */

.fs-regular-plus {
  font-size: 1.125rem;
}

.fs-medium {
  font-size: 1.3125rem;
}

.fs-medium-plus {
  font-size: 1.5rem;
}

.fs-big {
  font-size: 1.875rem;
}

.fs-big-plus {
  font-size: 2.25rem;
}

/* === BACKGROUND COLORS === */
.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}
.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

/* === Reusable === */

.container {
  width: 95%;
  max-width: 75rem;
  margin: 0 auto;
}

.txt-center {
  text-align: center;
}

[class*="d-flex"] {
  display: flex;
}

/* Navigation Bar */

.header {
  padding: 1rem 0;
  overflow: hidden;
}

.header-flex {
  /* This organizes the layout of the header:
  Logo and menu button in opposite sites of 1st row, 
  and the navigation menu in the 2nd row (when toggled). */

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.toggle-menu {
  /* Invisible checkbox that toggles the menu */
  position: absolute;
  transform: scale(2.1);
  opacity: 0;
  top: 7px;
  right: 0;
  cursor: pointer;
}

.toggle-menu:checked ~ .menu-icon {
  /* When checked, change the color of the menu icon */
  color: var(--clr-accent-400) !important;
}

.toggle-menu:focus-visible ~ .menu-icon {
  /* When the checkbox receives focus via the tab key,
  give an outline to the menu icon */
  outline: 3px solid var(--clr-accent-400);
}

.toggle-menu:checked ~ .nav-primary {
  /* When checked, display navigation menu */
  height: auto;
  width: auto;
  display: unset;
}

.nav-primary {
  /* The primary navigation menu is hidden by default on small screens;
  it is shown when the menu button (invisible checkbox) is toggled. */
  height: 0;
  width: 0;
  display: none;
  flex-basis: 100%;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list--primary {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

.nav-list--secondary {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.nav-item + .nav-item {
  margin-top: 1rem;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover,
.nav-link:focus-visible {
  text-decoration: underline;
}

.d-flex-hero {
  flex-flow: column nowrap;
  gap: 2rem;
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  /* font-size: 5.625rem; */
  font-size: 4.5rem;
  line-height: 1.1;
  color: var(--clr-neutral-100);
  text-align: center;
  margin: 0;
}

.hero__content {
  font-size: 1.5rem;
}

.hero__text {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-neutral-400);
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.hero__btn {
  text-align: center;
}

.btn {
  display: inline-block;

  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--clr-neutral-100);

  text-decoration: none;
  text-transform: uppercase;

  background-color: var(--clr-accent-400);
  padding: 0.25em 1.5em;

  border-radius: 1.5em;

  transition: transform ease-out 50ms;
}

.btn:hover,
.nav-link:focus-visible .btn {
  transform: scale(1.1);
}

.d-flex-section-two {
  flex-flow: column nowrap;
  gap: 3rem;
}

.d-flex-section-three {
  flex-flow: column nowrap;
  gap: 3rem;
}

.d-flex-boxes {
  flex-flow: column nowrap;
  gap: 1rem;
}

.box {
  padding: 2rem 3rem;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--clr-accent-400);
}

.section-text {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-neutral-700);
}

.footer__section {
  text-align: center;
}

.footer__section + .footer__section {
  margin-top: 1.25rem;
}

/* TBD in media queries for larger screens:
- Show primary navigation horizontally and remove menu icon
- uncenter footer, show sections horizontally
*/

@media screen and (min-width: 700px) {
  .container {
    width: 90%;
  }

  .hero {
    padding: 7rem 0 10rem;
  }

  .d-flex-hero {
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .hero__title,
  .hero__text,
  .hero__btn {
    text-align: unset;
  }

  .d-flex-section-two {
    flex-flow: row nowrap;
  }

  .d-flex-boxes {
    flex-flow: row nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }

  .d-flex-section-three {
    flex-flow: row nowrap;
    gap: 8rem;
  }

  .section-three__content {
    flex-basis: 60%;
  }

  .d-flex-boxes {
    flex-basis: 40%;
    flex-flow: column nowrap;
  }
}
